<div class="formulario" style="background-color: #0300B2;">
    <div class="formulario-head sprite sprite-01">
        
    </div>
    
    
    <div class="bloque bloque-1" style="background-color: #FF6699;">
        <div class="head-bloque">
            <label>SOY</label>
        </div>
        
        <div class="">
            <div class="two-panel">
                <div class="sprite sprite-02" style="zoom: 0.5; margin-left: 27%;"></div>
                <label>VARÓN</label>
            </div>
            <div class="two-panel">
                <div class="sprite sprite-02" style="zoom: 0.5; margin-left: 27%;"></div>
                <label>MUJER</label>
            </div>
        </div>
        
    </div>
    
    <div class="bloque bloque-1" style="background-color: #BBFF99;">
        <div class="head-bloque">
            <label>EDAD</label>
        </div>
        <div class="">
            <div class="two-panel">
                <input type="number" name="edad1" id="edad1" min="0" max="9" style="width: 50px; height: 50px;" value="0">
            </div>
            <div class="two-panel">
                <input type="number" name="edad2" id="edad2" min="0" max="9" style="width: 50px; height: 50px;" value="0"> 
            </div>
        </div>
    </div>
    
    <div class="bloque bloque-3" style="background-color: #00DDBB;">
        
        <div class="two-row">
            NACÍ EN <select class="new-select"><option>ARGENTINA</option></select>
        </div>
        <div class="two-row">
            VIVO EN <select class="new-select"><option>MENDOZA</option></select>
        </div>
    </div>
    
    <div class="bloque bloque-2" style="background-color: #0088FF;">
        <div class="head-bloque">
            <label>SE LEER Y ESCRIBIR</label>
        </div>
        <div class="elemento2">
            <div class="sprite sprite-06" style="zoom: 0.5; display: inline-block;"></div>
        </div>
        <div class="elemento4">
            <div class="sprite sprite-07" style="zoom: 0.5; display: inline-block;"></div>
        </div>
        <div class="elemento4">
            <div class="sprite sprite-08" style="zoom: 0.5; display: inline-block;"></div>
        </div>
    </div>
    
    <div class="bloque bloque-4" style="background-color: #FFFF88;">
        <div class="head-bloque">
            <label>NIVEL EDUCATIVO QUE ALCANCÉ</label>
        </div>
        <div class="elemento4">
            <div class="sprite sprite-09" style="zoom: 0.4; display: inline-block; margin-top: 42px;"></div>
            <label>NINGUNO</label>
        </div>
        <div class="elemento4">
            <div class="sprite sprite-10" style="zoom: 0.5; display: inline-block;"></div>
            <label>PRIMARIO</label>
        </div>
        <div class="elemento4">
            <div class="sprite sprite-11" style="zoom: 0.5; display: inline-block;"></div>
            <label>SECUNDARIO</label>
        </div>
        <div class="elemento4">
            <div class="sprite sprite-12" style="zoom: 0.5; display: inline-block;"></div>
            <label>TERCIARIO</label>
        </div>
    </div>
    
    <div class="bloque bloque-5" style="background-color: #DD88FF;">
        <div class="head-bloque">
            <label>LA SEMANA PASADA TRABAJÉ AL MENOS UNA HORA</label>
        </div>
         <div class="elemento1">
            <div class="sprite sprite-13" style="zoom: 0.5; display: inline-block;"></div>
        </div>
        <div class="elemento4">
            <div class="sprite sprite-07" style="zoom: 0.5; display: inline-block;"></div>
        </div>
        <div class="elemento4">
            <div class="sprite sprite-08" style="zoom: 0.5; display: inline-block;"></div>
        </div>
    </div>
    <div class="bloque bloque-5" style="background-color: #FF6699;">
        <div class="head-bloque">
            <label>UTILIZO COMPUTADORA</label>
        </div>
         <div class="elemento1">
            <div class="sprite sprite-14" style="zoom: 0.5; display: inline-block;"></div>
        </div>
        <div>
            <div class="elemento4">
                <div class="sprite sprite-07" style="zoom: 0.5; display: inline-block;"></div>
            </div>
            <div class="elemento4">
                <div class="sprite sprite-08" style="zoom: 0.5; display: inline-block;"></div>
            </div>
        </div>
        
    </div>
  
</div>
